body {
  margin: 0;
  background: #020617;
  font-family: system-ui;
}

.header {
  background: #064e3b;
  padding: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.container {
  padding: 16px;
}

.card {
  background: #065f46;
  border-radius: 20px;
  padding: 16px;
  color: white;
}

#hijriGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  margin-top: 12px;
}

.hijri-day {
  background: #047857;
  padding: 12px 0;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
}
